<style>
    .footer-container {
        background-color: rgb(41, 41, 41);
        text-align: center;
        color: blanchedalmond;
        font-family: 'Sacramento', cursive;
    }
</style>

<div class="footer-container">
    <p>Bumi Trueman Doley</p>
</div>