<style>
    .nav-container {
        background-color: rgb(41, 41, 41);
        overflow: hidden;
    }

    .nav-container .logo {
        margin-left: 50px;
        color: white;
    }

    .nav-container div {
        overflow: hidden;
        display: inline-block;
        float: right;
    }

    .nav-container a {
        color: white;
        padding: 15px 35px;
        font-size: 16px;
        float: left;
        text-decoration: none;
    }

    .nav-container a:hover {
        background-color:
            rgb(75, 74, 74);
    }
</style>

<header class="nav-container">
    <a href="/" class="logo">Home</a>
    <div>
        <a href="/help">Help</a>
        <a href="/about">About</a>
    </div>
</header>